.images{
    width: 300px;
    background-size: 300px;
    background-repeat: no-repeat;
}
.media{
    height: 300px;
}
.video{
    width: 300px;
}
.pagination-wrapper{
    text-align: center
}
.paging{
    width: 100px;
    float: right;
}